body, html {
    min-height: 100%;
    background-size: cover;
}

body {
    background-color: #257377;
    font-weight: bold;
}

#game-details, #controls, #gameplay, #items, #errors, #health, #userinput, #static-content {
    display: none;
}

#gamearea {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100vh;
    width: 80%;
    padding-top: 20px;
}

.btn {
    background-color: #257377;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #257377;
}

#usertext, #usertext:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #257377;
    outline: none;
}

.error-text, .item-text, .health-text {
    font-weight: bold;
}

.error-text {
    color: #C70039;
}

.item-text {
    color: #22428B;
}

.health-text {
    color: #185C32;
}

::placeholder  {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

::-ms-input-placeholder {
    font-style: italic;
}