#game-details, #controls, #gameplay, #items, #errors, #health {
    display: none;
}

.error-text, .item-text, .health-text {
    font-weight: bold;
}

.error-text {
    color: red;
}

.item-text {
    color: blue;
}

.health-text {
    color: green;
}